nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  if admin
    a.navbar-brand(href='/admin') Espace d'administration
  else
    a.navbar-brand(href='/') Shop
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNavAltMarkup
    if admin
      .navbar-nav
        a.nav-item.nav-link.active(href='/', class=(path === '/' ? 'active' : '')) Shop
    else
      .navbar-nav
        a.nav-item.nav-link(href='/', class=(path === '/' ? 'active' : '')) Accueil
        a.nav-item.nav-link(href='/panier', class=(path === '/panier' ? 'active' : '')) Panier
      .navbar-nav.ml-auto
        a.nav-item.nav-link(href='/admin', class=(path === '/admin' ? 'active' : '')) Admin